.App {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100%;
}

.App-header {
    background-color: #1218614a;
    padding: 20px;
    color: white;
    height: 20%;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.CustomComponent-div {
    color: black;
    text-align: center;
    list-style: none;


}

.Team {
    width: 30%;
    top: 20%;
}


.CustomComponent-Img-Rotate{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.CustomComponent-Img{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.berlinercontent{
    text-align: center;


}
.contentleft{
    text-align: left;


}
