.App {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100%;
}

.App-header {
    background-color: #1218614a;
    padding: 20px;
    color: white;
    height: 20%;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.CustomComponent-div {
    color: black;
    text-align: center;
    list-style: none;


}

.Team {
    width: 30%;
    top: 20%;
}


.CustomComponent-Img-Rotate {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10%;
    margin-bottom: 10%;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.CustomComponent-Img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.berlinercontent {
    text-align: center;


}

.contentleft {
    text-align: left;


}

h1, h2, h3 {
    text-align: center;

}

